.headerCredit {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
.mainContent {
  padding: 60px;
  padding-top: 110px !important;
  font-size: 20px;
  height: 100%;
}
body {
  background-color: #fafafa;
}
.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid rgb(228, 228, 228) !important;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.statusCard {
  float: left !important;
  width: 632px !important;
  height: 500px !important;
  background-color: #fff !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
}
.cardInfoCard {
  float: right !important;
  width: 632px !important;
  height: 500px !important;
  background-color: #fff !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
}
.textCard {
  clear: both;
  top: 50px;
  margin-bottom: 50px;
  background-color: #fff !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
}
